section.section.hero.js-hero-section
	.hero__in
		h1.hero__title.js-hero-title We shape the future human habitat by designing innovation today.

		.hero__description_wrap
			.hero__description.js-hero-description We start collaborating with you when you have just an idea and keep doing so when you are a 4B dollars unicorn.cc
