@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: $font_1;

	cursor: pointer;

	&[type='submit'] {
		@include appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

//color mixins:
@mixin btn_style_white {
	font-weight: 700;
	color: $black;
	background-color: $white;
	transition: background-color 0.3s ease, color 0.3s ease;
	border: 2px solid $white;

	@include st_btn;

	&:hover {
		color: $white;
	}
}

@mixin btn_style_dark {
	font-weight: 500;
	color: $white;
	background-color: $black_dolphin;
	//transition: background-color 0.3s ease, color 0.3s ease;

	@include st_btn;
	cursor: auto;

	&:hover {
		//color: $black;
		//background-color: $white;
	}
}

@mixin btn_style_dark_v2 {
	font-weight: 400;
	//color: $white;
	color: rgba($white, 0.4);
	background-color: $black_dolphin;
	transition: background-color 0.3s ease, color 0.3s ease;

	@include st_btn;

	//&:hover {
	//	color: $black;
	//	background-color: $white;
	//}
}

//size mixins:
@mixin btn_size_normal {
	height: 5rem;
	padding: 0 2.4rem 0 1.6rem;

	line-height: 5rem;
	font-size: 1.6rem;

	border-radius: 2.5rem;
}

@mixin btn_size_normal_v2 {
	@include bp($point_2, min) {
		height: 7.8rem;
		padding: 0 3.2rem;

		line-height: 7.8rem;
		font-size: 3.2rem;

		border-radius: 3.9rem;
	}

	@include bp($point_3) {
		height: 4.6rem;
		padding: 0 1.4rem;

		line-height: 4.6rem;
		font-size: 1.6rem;

		border-radius: 2.3rem;
	}
}

@mixin btn_size_small {
	@include bp($point_2, min) {
		padding: 0 1.6rem;
		height: 4rem;

		font-size: 1.4rem;

		line-height: 4rem;
		border-radius: 4rem;
	}

	@include bp($point_3) {
		padding: 0 1.4rem;
		height: 3.2rem;

		font-size: 1.2rem;

		line-height: 3.2rem;
		border-radius: 1.6rem;
	}
}
