- sample_var = '123'
-
	projectsData = [
		{
			item: [
				{
					images: ['fendi.jpg', 'fendi_hover.jpg'],
					subtitle: 'My Fav',
					title: 'Social marketplace with image recognition shopping',
					buttons: ['App design', 'Branding']
				},
				{
					images: ['anamiva.jpg', 'anamiva_hover.jpg'],
					subtitle: 'Anamiva',
					title: 'E-commerce website for gut supplements',
					buttons: ['Web design', 'Branding']
				}
			]
		},
		{
			item: [
				{
					images: ['freiheit.jpg', 'freiheit_hover.jpg'],
					subtitle: 'Freiheit',
					title: 'Visual identity for urban fashion brand',
					buttons: ['Branding', 'Stylescape']
				},
				{
					images: ['hennii.jpg', 'hennii_hover.jpg'],
					subtitle: 'Hennii',
					title: 'Online banking for Gen Zers',
					buttons: ['Web design', 'Branding']
				}
			]
		},
		{
			item: [
				{
					images: ['myfit.jpg', 'myfit_hover.jpg'],
					subtitle: 'Fit.do',
					title: 'Mobile app design for fitness startup',
					buttons: ['App design', 'Branding']
				},
				{
					images: ['hopin.jpg', 'hopin_hover .jpg'],
					subtitle: 'Hopin',
					title: 'Marketing website for all-in-one event platform',
					buttons: ['Web design', 'Branding', 'Marketing']
				}
			]
		},
	]































mixin dont_use
	// mixin is needed for correct include in files
